.navbar-custom {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.navbar-sticky {
  background: #fbc6874d;
  position: fixed;
  top: 0;
  left: 0;
  /* box-shadow: 1px 1px 1px #252dce98; */
  animation: moveDown 0.5s ease-in-out;
}

.navbar--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar--textlogo {
  max-height: 70px;
}
.navbar--logo {
  max-height: 70px;
  margin-right: 0.5rem;
  animation: rotate 0.7s ease-in-out 0.5s;
}

.navbar--link {
  display: flex;
  list-style: none;
}

.navbar--link-item {
  margin: 0.4rem 1rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}
.nav1 {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
}
.nav2 {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
}
